@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
}

.Toastify {
  --toastify-font-family: "inherit";
  --toastify-text-color-light: #121212;
  --toastify-color-light: #fde5e2;
  --toastify-icon-color-info: black;
  --toastify-icon-color-success: black;
  --toastify-icon-color-warning: black;
  --toastify-icon-color-error: black;
}
