@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
}

.Toastify {
  --toastify-font-family: "inherit";
  --toastify-text-color-light: #121212;
}
